/* styles.css */
@import '../../style/dashboard.scss';
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #176ad7;
  padding: 7rem;
  color: white;
  .background-logo {
    position: absolute; // Position the logo absolutely within the container
    top: 14.3rem; // Adjust as needed to position from the top
    right: 135px; // Adjust as needed to position from the right
    opacity: 0.3; // Reduce the opacity of the logo
    width: 100px; // Adjust the width as needed
    height: auto; // Maintain the aspect ratio
    z-index: 1; // Ensure the logo is above other elements
    @include breakpoint(sm) {
      display: none;
    }
  }
  .left-side {
    flex: 1;
    p {
      font-weight: bold;
      font-size: 25px;
    }
    a {
      font-size: 18px;
    }

    @include breakpoint(sm) {
      display: none;
    }
  }

  .right-side {
    flex: 1;
    padding: 7rem;
    background-color: white;
    border-radius: 5px;
    height: 26rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    @include breakpoint(sm) {
      // flex: 1;
      justify-content: center;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      padding: 4px;
      margin-left: -18px;
    }
    // @include breakpoints(sm) {
    //   flex: 1;
    //   padding: -1rem;
    //   background-color: white;
    //   border-radius: 5px;
    //   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    //   padding: 1rem;
    // }
    .contact-form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      h2 {
        margin: 0;
        color: #000;
        margin-bottom: 40px;
      }

      input {
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }
      textarea {
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }
      button {
        padding: 0.7rem;
        width: 20%;
        background-color: #176ad7;
        color: #fff;
        border: 1px solid #176ad7;
        border-radius: 10px;
        font-size: 14px;
        cursor: pointer;
        @include breakpoint(sm) {
          padding: 1rem;

          width: 30%;
          background-color: #176ad7;
          color: #fff;
          border: 1px solid #176ad7;
          border-radius: 10px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
}
