@import '../../style/dashboard.scss';

/* center-footer.scss */
.center-footer {
  text-align: center;
  background-color: #fff;
  color: #000;
  padding: 20px;
  margin-left: 150px;

  @include breakpoint(sm) {
    margin-left: 10px;
  }

  p {
    margin: 10px 0;
    font-size: 20px;
    color: #000;
    font-weight: bold;
  }
  .logo {
    text-align: center;
    img {
      height: 80px;
      width: auto; /* Adjust the width to maintain aspect ratio */
    }
  }
}
